.home {
    align-items: center;
    display: flex;
    gap: 40px;
    justify-content: space-between;
    margin: 60px 0;
}

.home__name {
    font-size: 20px;
    color: var(--title);
    font-family: "Russo One", sans-serif;
    text-transform: uppercase;
    margin-bottom: 12px;
}

.home__part {
    border: 0;
    box-sizing: border-box;
    font-size: 100%;
    font: inherit;
    margin: 0;
    padding: 0;
    vertical-align: initial;
}

.home__image {
    width: 100%;
}

.home__title {
    color: var(--title);
    font-size: 32px;
    font-weight: 900;
    line-height: 40px;
    margin-bottom: 16px;
}

.home__text {
    color: var(--gray);
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
}

.home__btn {
    background: var(--green);
    border-radius: 8px;
    color: #fff;
    display: inline-block;
    margin-top: 20px;
    padding: 12px 20px;
    transition: .2s ease;
}

.home__btn a {
    text-decoration: none;
}