.header {
  background: var(--bg-nav);
  box-shadow: 0px 1px 7px 0px rgba(0, 0, 0, 0.25);
  background: rgb(255, 255, 255);
}

.header__box {
  width: 1440px;
  margin: 0 auto;
  
}

.header__black-top {
  width: 1200px;
  margin: 0 auto;
  width: 100%;
  background-color: var(--bg-black-top);
  height: 45px;
}

.header__box,
.header__list,
.header__left {
  display: flex;
  text-decoration: none;
  justify-content: space-between;
}

.header__list-item {
  width: auto;
  align-items: center;
  display: grid;
  text-decoration: none;
  color: var(--title);

  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 400;
  white-space: nowrap;
  cursor: pointer;

  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}

.header__list-item:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.header__logo {
  font-size: 32px;
  padding: 20px;
  color: var(--title);
  font-family: "Russo One", sans-serif;
  align-items: center;
  text-transform: uppercase;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}

.header__logo:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.header__right {
  align-items: center;
  display: flex;
  cursor: pointer;
  background-color: transparent;
  padding: 10px;
}

.sticky {
  position: sticky;
  top: 0;
  z-index: 100;
}
