  
  .recipe-card {
    width: 100%;
    height: 200px;
    overflow: hidden;
    margin-bottom: 35px;
    display: flex;
  }

  .recipe-image {
    width: 190px;
    height: 190px;
    margin: auto 20px;
  }
  
  .recipe-image img {
    width: 100%;
    height: 100%;
    display: block;
  }

  .recipe__tags {
    display: flex;
    gap: 10px;
    height: 20px;
  }
  
  .recipe__content {
    display: flex;
    flex-direction: column;
    
  }

  .receipt__tag-item {
    -webkit-box-align: center;
    align-items: center;
    display: inline-flex;
    -webkit-box-pack: center;
    justify-content: center;
    font-size: 9px;
    color: rgb(36, 175, 48);
    text-transform: uppercase;
    font-weight: 700;
    font-family: Roboto, sans-serif;
    letter-spacing: 1.5px;
  }

  .receipt__tag-item::before {
    content: "· " ;
  }

  .recipe__title {
    height: 30px;
    margin: 10px 0;
    display: flex;

    font-family: Roboto, sans-serif;
    -webkit-box-align: center;
    max-width: 600px;
    font-weight: 900;
    letter-spacing: 0.5px;
    color: var(--title);
    line-height: 30px;
    font-size: 25px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-align: left;
    white-space: pre-wrap;
    overflow: inherit;
  }

  .recipe__info-box {
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .receipe__author {
    font-family: Roboto, sans-serif;
    -webkit-box-align: center;
    align-items: center;
    display: inline-flex;
    -webkit-box-pack: center;
    font-size: 10px;
    color: rgb(184, 184, 184);
  }

  .recipe__info {
    display: flex;
  }

  .recipe__ingredients {
    transition: color 0.3s ease-in 0s;
    outline: none;
    color: var(--text);
    border-radius: 3px;
    padding: 0px;
    border: none;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    font: 10px / 20px Roboto, sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    background-color: transparent;
    
  }

  .recipe__servings, .recipe__time {
    font-family: Roboto, sans-serif;
    color: var(--text);
    -webkit-box-align: center;
    align-items: center;
    display: inline-flex;
    -webkit-box-pack: center;
    justify-content: center;
    letter-spacing: 1px;
    font-size: 10px;
    text-transform: uppercase;
    margin-left: 1rem;
    gap: 5px;
  }

  .recipes__title {
    color: var(--title);
    font-size: 40px;
    font-family: Roboto, sans-serif;
    flex-wrap: wrap;
    -webkit-box-align: baseline;
    align-items: baseline;
    font-weight: 900;
    line-height: 1.2;
    width: 100%;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    margin: 1rem 0
  }

  .recipes__header-box {
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 auto;
    -webkit-box-align: center;
    align-items: center;
    margin: 0px 12%;
    padding-bottom: 3rem;
  }

  .recipes__description {
    color: var(--text);
    -webkit-box-align: center;
    align-items: center;
    display: inline-flex;
    -webkit-box-pack: center;
    justify-content: center;
    font-size: 15px;
    line-height: 36px;
    font-family: "PT Serif", Georgia, serif;
    text-align: center;
  }

  .tags-container {
    padding: 2rem;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;

  }

  .tags__title {
    padding-left: 2rem;
    color: var(--text);
    -webkit-box-align: center;
    align-items: center;
    display: inline-flex;
    -webkit-box-pack: center;
    justify-content: center;
    font-style: normal;
    font-size: 10px;
    line-height: 14px;
    text-transform: uppercase;
    font-family: "PT Serif";
    font-weight: 600;
  }

  .tag, .tag-selected {
    font-size: 8px;
    line-height: 25px;
    text-transform: uppercase;
    font-weight: 900;
    font-family: Roboto, sans-serif;
    letter-spacing: 1px;
    padding: 1px 6px;
    color: var(--text);
  }

  .tag {
    background-color: transparent;
    border: 1px solid rgb(218, 216, 216);
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
  }

  .tag-selected {
    background-color: transparent;
    color: var(--green);
    border: 1px solid rgb(218, 216, 216);
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
  }

  .tag:hover {
    background-color: var(--bg-tag-hover);
  }

  .tag-selected:hover {
    background-color: var(--bg-tag-hover);
  }

  .recept__info-box {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-bottom: 2rem;
    align-items: center;
  }

  .recept__portions, .recept__time {
    display: flex;
    align-items: center;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    font-size: 9px;
    line-height: 20px;
    padding-right: 30px;
    font-family: "PT Serif", Georgia, serif;
    color: var(--text);
  }

  .recept__image-box {
    height: 290px;
    width: 560px;
    margin-bottom: 2rem;
  }

  .recept__image-box img {
    width: 100%;
    height: 100%;
  }
  
  .icon {
    padding: 10px;
    width: 20px;
    height: 20px;
  }

  .recept__author-box {
    display: flex;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    border: 1px solid rgb(184, 184, 184);
    position: relative;
    margin: 30px 0px 40px;
    padding: 20px;
  }

  .recept__author_absolute {
    font-family: Roboto, sans-serif;
    color: var(--text);
    -webkit-box-align: center;
    align-items: center;
    display: inline-flex;
    -webkit-box-pack: center;
    justify-content: center;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    font-size: 9px;
    line-height: 20px;
    background-color: var(--bg-author);
    padding: 10px;
    position: absolute;
    top: -20px;
    right: 50%;
    transform: translate(50%, 0px);
  }

  .recept__author_flexbox {
    display: flex;
    justify-content: space-around;
    gap: 20px;
    color: var(--text);
    
  }

  .recept__author-name {
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    display: block;
    font: 13px / 16px "PT Serif", Georgia, serif;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    background-color: transparent;
    cursor: pointer;
    color: var(--text);
  }

  .recept__author-name p {
    text-align: start;
    font: 8px / 1 Roboto, sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.1em;
  }

  .recept__author-icon {
    height: 30px;
    width: 30px;
  }

  .recept__author-icon svg {
    height: 100%;
    width: 100%;
  }

  .recept__author-subscribe {
    transition: color 0.3s ease-in 0s;
    background-color: transparent;
    cursor: pointer;
    outline: none;
    border: 1px solid rgb(217, 217, 217);
    border-radius: 3px;
    font: 10px / 14px Roboto;
    color: var(--text);
    -webkit-box-align: center;
    align-items: center;
    display: inline-flex;
    -webkit-box-pack: center;
    justify-content: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 10px 30px;
  }

  .recept__discription {
    color: var(--text);
    -webkit-box-align: center;
    align-items: center;
    display: inline-flex;
    -webkit-box-pack: center;
    justify-content: center;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    font-family: "PT Serif", sans-serif;
    margin-bottom: 60px;
    line-height: 35px;
    break-inside: avoid;
  }

  .recept__ingredients {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
    color: var(--text);
  }

  .recept__ingredients-title {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 13px;
    line-height: 1;
    letter-spacing: 1px;
    margin: 10px 0px;
    display: block;
    font-family: "PT Serif";
    -webkit-box-align: center;
    align-items: center;
    margin-bottom: 30px;
    color: var(--text);
  }

  .recept__ingredients-item {
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    width: 100%;
  }

  .recept__ing-underline {
    -webkit-box-flex: 1;
    flex-grow: 1;
    border-bottom: 1px solid rgb(217, 217, 217);
    height: 12px;
    margin: 0px 10px !important;
  }

  .recept__ing-name {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 33px;
    font-family: "PT Serif", sans-serif;
    white-space: nowrap;
    

  }

  .recept__ing-count {
    color: black;
    -webkit-box-align: center;
    align-items: center;
    display: inline-flex;
    -webkit-box-pack: center;
    justify-content: center;
    font-style: normal;
    font-weight: normal;
    line-height: 33px;
    font-family: "PT Serif", sans-serif;
    white-space: nowrap;
    font-size: 13px;
    color: var(--text);
  }

  .recept__discription-title {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 13px;
    line-height: 1;
    letter-spacing: 1px;
    margin: 10px 0px;
    font-family: "PT Serif", sans-serif;
    display: flex;
    color: var(--text);
  }

  .recipes__random-box {
    padding-left: 2rem;
    padding-bottom: 2rem;
    display: flex;
    gap: 3rem;
  }